html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
}

nav {
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0F4C75;
}

nav img {
	height: 90px;
	width: auto;
}

.navbar-logo {
	padding: 10px;
}

nav ul {
	display: flex;
}

.navbar-button {
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    line-height: 40px;
    font-size: 15px;
    width: 132px;
	margin-left: 20px;
	font-style: normal;
	font-weight: 600;
}

.navbar-button:hover{
	background-color: #0e5585;
	color: white;
}

.navbar-button:focus {
	outline: none;
	background: #0e5585;
	color: white;
}

.container {
	margin: auto;
	max-width: 1340px;
	height: 100vh;
	padding-left: 30px;
	padding-right: 30px;
	background: rgba(49, 128, 114, 0.11);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-login{
	width: 80px;
	height: 130px;
	margin-left: 100px;
}

.img-fluid{
	margin-top: 20%;
	margin-left: -8%;

}

.sign{
	font-size: 24px;
}

.log-in{
	margin-top: 7%;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color:#0F4C75 ;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    border:2px solid #0F4C75;
    background: white;
    color:#0F4C75
}

.btn1:focus{
    border:2px solid #0F4C75;
    background: white;
    color:#0F4C75
}


/* FOOTER */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	background: #0F4C75;
}

.footer-text {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: white;
}

a {
	text-decoration: none;
}